$color-success: var(--ant-color-success);
$color-success-hover: var(--ant-color-success-hover);
$color-success-border: var(--ant-color-success-border);
$color-success-border-hover: var(--ant-color-success-border-hover);

$color-error: var(--ant-color-error);
$color-error-hover: var(--ant-color-error-hover);
$color-error-border: var(--ant-color-error-border);
$color-error-border-hover: var(--ant-color-error-border-hover);

$color-warning: var(--ant-color-warning);
$color-warning-hover: var(--ant-color-warning-hover);
$color-warning-border: var(--ant-color-warning-border);
$color-warning-border-hover: var(--ant-color-warning-border-hover);
